.hero {
  height: 40vh;
  background: linear-gradient(to bottom, #f1e0fa, #ffffff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.aj-search-icon{
  fill: var(--accent-color);
}

.aj-hero-content {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.aj-hero-content.visible {
  opacity: 1;
  transform: translateY(0);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.greeting {
  font-size: 3rem;
  background: linear-gradient(to right, #a70e0e, #070789);
  margin-bottom: 20px;
  padding: 1rem;
  background-clip: text;
  border-radius: 0.5rem;
  color: transparent;
  transition: color 1s ease;
}

.search-bar {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 30px;
  padding: 0.75rem 1.25rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 50vh;
}

@media screen and (max-width: 350px) {
  .search-bar {
    width: 35vh;
  }
  .greeting {
    font-size: 2.5rem;
  }

}

.search-bar input {
  border: none;
  outline: none;
  font-size: 1rem;
  width: 50vh;
}

.search-bar button {
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}
