.aj-content {
    // box-shadow: 0 0 5px #cfcfcfc4;
    padding: 0.5rem 2rem;
    background-color: #e1dcdc26;
    // border-radius: 0.5rem;

    img {
        width: 100%;
        //box-shadow: 0 0 5px #cfcfcfc4;
    }

    pre {
        box-shadow: 0 0 2px #7c4e4e70;
        border-left: 4px solid var(--accent-color);
        border-radius: 5px;
        padding-left: 1rem;
    }
}

.aj-btn-group {
    display: flex;
    position: relative;
    top: 2%;
    margin-bottom: 5rem;
    

    .aj-next-topic {
        color: var(--accent-color);
    }

    .aj-btn-previous {
        margin-right: auto;
    }

    .aj-btn-next {
        margin-left: auto;
        background-color: var(--accent-color);
        color: var(--text-color);

        &:hover {
            border: 1px solid var(--accent-color);
            color: var(--accent-color);
            background-color: var(--text-color);

        }
    }

}

@media screen and (max-width: 575px) {

    .aj-content {
        box-shadow: 0 0 0;
    }

}