.card {
    border: none;
    box-shadow: 0 0 3px #d4d4d4;

    &:hover {
        box-shadow: 0 0 3px #9b9898;
         background: linear-gradient(to bottom, #efefef, #f8e9cf)

    }

    .card-body {
        text-align: center;

        .card-img {
            height: 7rem;
            width: auto;

            &:hover {
                animation: spin 2s;
            }
        }
    }
}
.aj-tech-type {
    font-size: 1.5rem;
}

.aj-popular-courses {
    background-color: var(--accent-color);
    //color: #fff;
    border-radius: 5px;
    display: inline;
    position: absolute;
    padding: 0.5rem 1rem;
    color: transparent;
    background-clip: text;
    font-weight: 600 !important;

}

.aj-popular-text {
    display: flex;
    justify-content: center;
}

.tech-row {
    //color: var(--accent-light-color) //linear-gradient(to right, #3f54d7, #63c2a2);
    //color: transparent;
    //background-clip: text;
    
}

.not-found {
    border: 2px solid #ffc1c1;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #ffe4e49e;

}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    30%{
        transform: rotate(30deg);

    }
    70%{
        transform: rotate(-30deg);

    }
    100% {
        transform: rotate(0deg);
    }
}

.aj-editor-group {
    position: relative;
    top: 10%;
}

.aj-editor-btn {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--accent-color);
    color: var(--text-color);

    &:hover {
        border: 0.5px solid var(--accent-color);
        background-color: var(--btn-bg-color);
        color: var(--accent-color);
    }

}