.nav-link {
    padding: .1rem 1rem;
    color: var(--accent-color);
    margin-left: .25rem;
}

.nav-link:hover {
    background-color: #d1d1d178;
    color: var(--accent-color);
}

.nav-item {
    margin-bottom: 0.2rem;
}

.nav-item a.aj-active:hover {
    color: var(--btn-bg-color);
    background-color: var(--accent-color);
}


.aj-sidebar-title {
    color: var(--accent-color);
}

.aj-sidebar {
    display: flex;
    flex-direction: column;
    width: 15rem;
    background-color: #d4c0fc29;
    position: sticky;
    top:0;
    overflow-y: auto;
}

.aj-active {
    color: var(--btn-bg-color);
    background-color: var(--accent-color);
}

@media screen and (max-width: 1070px) {
    .aj-sidebar {
        display: none;
    }
}

@media screen and (max-width: 1300px) {
    .aj-sidebar {
        width: 11rem;
    }
}

@media screen and (max-width: 1300px) {
    .aj-sidebar-title {
        font-size: 1.25rem;
    }
}