@import 'bootstrap/scss/bootstrap.scss';


:root {
    --accent-color: #3a005ce3;
    --accent-light-color: #7201b4;
    --btn-bg-color: #fff;
    --text-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

::placeholder {
    color: var(--accent-light-color);
}

.content-container {
    min-height: 100vh;
    // margin: 2rem 0;
    //background-color: #7201b4;
    // animation: content-animation 1.5s ease;
    h1,
    h2,
    h3,
    h4,
    h5 {
        margin-top: 1rem;
        font-weight: 400;
    }

    p,
    ul {
        margin-top: 1rem;
        line-height: 1.75rem;
        text-align: justify;
        font-weight: 400;
    }

    .points {
        margin-left: 2rem;
        //list-style: georgian;
    }
}

@media screen and (max-width: 500px) {
    .content-container {
        .points {
            margin-left: 0.25rem;
        }
    }

}

@keyframes content-animation {
    0% {
        transform: translateY(100%);

    }

    100% {
        transform: translateY(0%);
        
    }
}